
#pic1{
    position: relative;
    height: 60vh;
    background-image: url(./remote.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
}
#header-item{
    position: relative;
    top: 20%;
    margin-left: 20%;
    height: 35vh;

}
red{
    color: #3B2CE0;
    font-weight: bold;
}
footer{
    text-align: center;
    height: 40px;
}